APP_NAME=Spend Buddy API
APP_VERSION=0.1.0
APP_ENV=development

META_VERIFY_TOKEN=replace_with_your_verify_token
META_ACCESS_TOKEN=replace_with_your_meta_access_token
META_PHONE_NUMBER_ID=replace_with_your_phone_number_id
META_WABA_ID=replace_with_your_waba_id
META_GRAPH_API_VERSION=v23.0
